[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Apple Music
Comment=Apple Music
Exec=Apple-Music
Icon=./resources/icons/icon.icns
Terminal=False
Categories=AudioVideo
